{{ define "main" }}
    {{ .Content }}

    {{ $data := dict }}
    {{ with .Resources.Get "data.json" }}
        {{ with . | transform.Unmarshal }}
            {{ $data = . }}
        {{ end }}
    {{ end }}

    {{ range $data }}
        <div>
            <div class="name">{{ .name }}</div>
            <div class="journal">{{ .journal }}</div>
            <div class="date">{{ .date }}</div>
            <div class="authors">
                {{ range .authors }}
                <span class="author">{{ . }}</span>
                {{ end }}
            {{ if .website }}
                <div class="website">{{ .website }}</div>
            {{ end }}
            <div class="summary">{{ .summary | markdownify }}</div>
        </div>
    {{ end }}
{{ end }}
